<h1 align="center">Listing all Problems</h1>
<div align="center">
  <%= will_paginate %>
</div>
<!-- For this partial pass in problems as obj -->
<%= render 'problem', obj: @problems %>
<div align="center">
  <%= will_paginate %>
</div>