<h1 align="center"> Showing selected problem </h1>

<p> 
  Title: <%= @problem.title %>
</p>
<p> 
  Description: <%= @problem.description %>
</p>

<%= link_to "Edit this article", edit_problem_path(@problem) %> |
<%= link_to "Back to problems listing", problems_path %>