<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; Josh Johansen with guidance from <a href="http://www.mashrurhossain.com/">Mashrur Hossain's</a> Udemy course.
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>